*
{
    user-select: none;
}
body
{
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
}
p,button
{
    margin: 0;
    padding: 0;
}
.normal-p
{
    font-size: 2rem;
}
.green
{
    color: green;
}
.red
{
    color: red;
}
.header
{
    width: 100%;
    background-image: url("https://media.nomadicmatt.com/vietnamguide.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    margin-bottom: 10px;
}

#brief-info
{
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 20px 0;
    width: fit-content;
}
#brief-info p
{
    margin: 5px auto;
}
#budget
{
    font-size: 4rem;
}
.in-brief,.exp-brief
{
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 10px;
    padding: 5px 2rem;
    display: flex;
    justify-content: space-between;
}
.in-brief
{
    background-color: green;
}
.exp-brief
{
    background-color: red;
}

#add-info-container
{
    width: 100%;
    height: fit-content;
    background-color: rgb(233, 229, 229);


}

#add-info
{
    width: fit-content;
    margin: 1rem auto;
    padding: 1.5rem 0;
    display: flex;
    justify-content: center;
    position: relative;
}
#type
{
    font-size: 1.5rem;
    padding: .5rem 1rem;
    background-color: white;
    border: none;
    border-radius: 10%;
    outline: none;
    cursor: pointer;
    margin-right: .5rem;
}
#add-info button :focus
{
    outline: none;
}

.choose-type
{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: -1.5rem;
    top: 1.7rem;
    display: none;
}
.choose-type i
{
    margin-right: .5rem;
    opacity: 0;
}
#choose-inc .fa
{
    opacity: 1;
}
.choose
{
    padding: 1rem .5rem;
    border: none;
    outline: none;
    font-size: 1rem;
}

.choose:hover
{
    background-color: blue;
}

.choose:focus
{
    outline: none;
}
#type
{
    width: 6rem;
}
#type img
{
    width: auto;
    height: 1rem;
    margin: auto;
    margin-left: 1rem;
}

#add-info input
{
    font-size: 1.5rem;
    padding: .5rem 1rem;
    border: none;
    outline: none;
    margin-right: .5rem;
    border-radius: 2%;
}
#add-info input :focus
{
    outline: none;
}

#add
{
    padding: 10px;
    margin-left: 2rem;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
}
#add :focus
{
    outline: none;
}
#add img
{
    width: 2rem;
    height: auto;
}

#detail-info
{
    width: 70%;
    margin: auto;
    margin-top: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
#income,#expenses
{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: 30px;
    padding: 10px;
}
#income p
{
    font-size: 30px;
    padding-bottom: 1.2rem;
    border-bottom: 1px solid  rgb(177, 162, 162);
}
#expenses p 
{
    font-size: 30px;
    padding-bottom: 1.2rem;
    border-bottom: 1px solid rgb(177, 162, 162);
}

.detail-list
{
    display: flex;
    flex-direction: column;
}
.detail-item
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: .6rem 1rem;
    border-bottom: 1px solid  rgb(177, 162, 162);
    transition: .5s;
}
.detail-item:hover
{
    background-color: rgb(151, 138, 138);
}

.right-detail
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
}

.del-btn
{
    margin: auto;
    margin-left: 2rem;
    font-size: 1rem;
    font-weight: bold;
    padding: .3rem;
    border-radius: 50%;
    cursor: pointer;
    display: none;
    outline: none;
    color: red;
    border: 2px solid red;
}

#inc-del-1 :focus
{
    outline: none;
}

.detail-item:hover #inc-del-1
{
    display: inline;
}
.detail-item:hover #exp-del-1
{
    display: inline;
}